#nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 50px;
  width: 100vw;
  background: linear-gradient(to right, #5d4157, #a8caba); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.links-container a {
 margin: 0 20px;
}

.logo {
  color: white;
  margin-left: 20px;
}